version: "3"

services:
  evcc:
    command:
      - evcc
    container_name: evcc
    image: docker.io/ellutzor/evcc:0.300.8-lurtz
    ports:
      - 7070:7070/tcp
      - 8887:8887/tcp
    volumes:
      - ./evcc-provisioning/evcc.yaml:/etc/evcc.yaml
      - ./evcc-provisioning/dot-evcc:/root/.evcc
    depends_on:
      - victoria-metrics
    restart: unless-stopped

  victoria-metrics:
    image: docker.io/victoriametrics/victoria-metrics:v1.135.0
    command: [ "-httpAuth.username", $VICTORIAMETRICS_USER, "-httpAuth.password", $VICTORIAMETRICS_PASSWORD, -retentionPeriod, 100y ]
    ports:
      - "8428:8428"
    volumes:
      - victoriametrics-volume:/victoria-metrics-data
    restart: unless-stopped

  grafana:
    image: docker.io/grafana/grafana-oss:12.3.2
    ports:
      - '3000:3000'
    volumes:
      - grafana-storage:/var/lib/grafana
      - ./grafana-provisioning/:/etc/grafana/provisioning
    depends_on:
      - victoria-metrics
    environment:
      - GF_SECURITY_ADMIN_USER=${GRAFANA_USERNAME}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
      - VM_USER=${VICTORIAMETRICS_USER}
      - VM_PASSWORD=${VICTORIAMETRICS_PASSWORD}
    restart: unless-stopped

  telegraf:
    cap_add:
      - cap_net_raw
    image: docker.io/telegraf:1.37
    volumes:
      - ./telegraf-provisioning:/etc/telegraf:ro
      - /proc:/target_proc:ro
    depends_on:
      - victoria-metrics
    environment:
      - HOST_PROC=/target_proc
      - VM_USER=${VICTORIAMETRICS_USER}
      - VM_PASSWORD=${VICTORIAMETRICS_PASSWORD}
    restart: unless-stopped

volumes:
  grafana-storage:
  victoriametrics-volume:
