[Unit]
Description=evcc with grafana container
After=network.target

[Service]
WorkingDirectory=/home/lutz/workspace/evcc-with-grafana
ExecStartPre=git pull
ExecStart=make up-systemd
ExecStop=make down

[Install]
WantedBy=default.target
