[Unit]
Description=evcc with grafana container
After=network.target

[Service]
WorkingDirectory=/home/lutz/workspace/evcc-with-grafana
ExecStartPre=git pull
ExecStartPre=podman-compose pull
ExecStart=podman-compose up
ExecStop=podman-compose down

[Install]
WantedBy=default.target
