[Unit]
Description=evcc with grafana container
After=network.target

[Service]
WorkingDirectory=@EVCC_WITH_GRAFANA_WORKING_DIRECTORY@
ExecStart=make up-systemd
ExecStop=make down

[Install]
WantedBy=default.target
